* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';

}

:root {
    --cor01: #053945;
    --cor02: #f3f3f3;
    --corbranca: #ffffff;
    --baixa: #4caf50;
    --media: #ffc107;
    --alta: #f44336;
}

#geral {
    margin: 20px auto;
    padding: 10px;
    width: 800px;
    min-height: 600px;
}

h2 {
    text-align: center;
    padding: 40px 0px;
    color: var(--cor01);
    font-size: 2em;
}

#divform {
    width: 100%;
    background-color: var(--cor01);
    margin: 20px 0px;
    padding: 20px;
    color: var(--corbranca);
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 15px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="text"],
textarea,
button,
label {
    display: block;
    margin: 20px 0px;
    font-size: 1.2em;

}

input[type="text"],
textarea {
    border: none;
    border-bottom: 5px solid var(--cor02);
    width: 650px;
    padding: 10px;

}

input::placeholder,
textarea::placeholder {
    font-size: 1.0em;
    font-weight: bold;
    color: var(--cor01);
}

textarea {
    width: 650px;
    height: 200px;
    resize: none;
}

#btnAdicionar {
    width: 750px;
    height: 60px;
    cursor: pointer;
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--corbranca);

    color: var(--cor01);
}

input[type="radio"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#divRadios{
    width: 650px;
    margin: 20px 0px;
}
.tarefa {
    width: 100%;
    height: 200px;
    background-color: var(--cor02);
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px 0px 20px 30px;
}

.titulo,
.tituloResponsavel,
.descTarefa,
.tipoPrioridade {
    text-align: left;
    padding: 10px 0px;
}   

.baixa {
    border-left: 10px solid var(--baixa);
}

.media {
    border-left: 10px solid var(--media);
}

.alta {
    border-left: 10px solid var(--alta);
}