*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --cor01 : #052945;
    --cor02 : #f7f6f5;
    --corbranca: #ffffff;
    --corBaixa:  #4caf50;
    --corMedia:  #ffc107;
    --corAlta:  #f44336;
    --corAberto:  #cac191;
    --corEmAndamento:  #c153b8;
    --corFinalizada:  #ece9d1;
}

#geral{
    margin: 20px auto;
    padding: 10px;
    width: 1000px;
    min-height: 600px;
}

h2{
    text-align: center;
    padding: 10px 0px;
    color: var(--cor01);
    font-size: 2em;
}

#dadosTarefas{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#numerosTarefas{
    margin-left: 20px;
    width: 180px;
}

.totalNumeros{
    width: 100%;
    height: 150px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divForm{
    width: 100%;
    background-color: var(--cor01);
    margin: 20px 0px;
    padding: 20px;
    color: var(--corbranca);
    /*color: var(--cor01);*/
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 15px;
    border: 2px solid var(--cor01);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="text"], input[type="date"], textarea, button, label{
    display: block;
    margin: 20px 0px;
    font-size: 1.2em;
}

input[type="text"], input[type="date"], textarea{
    border: none;
    border-bottom: 5px solid var(--cor01);
    width: 650px;
    padding: 10px;
}

input::placeholder, textarea::placeholder{
    font-size: 1.0em;
    font-weight: bold;
    color: var(--cor01);

}

textarea{
    width: 650px;
    height: 200px;
    resize: none;
}

#divRadios{
    width: 650px;
    margin: 20px 0px;
}

#btnAdicionar{
    width: 500px;
    height: 60px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--corbranca);
    color: var(--cor01);
    border-radius: 8px;
}

input[type="radio"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#totais{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    padding: 0px 0px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.totalCaixa{
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    border-radius: 8px;
}

#cabecalhoColunas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coluna{
    width: 30%;
    min-height: 100%;
    padding: 5px;

}

.totalNumeros{
    background-color: var(--cor01);
    color: var(--corbranca);
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
}

#totalBaixa{
    background-color: var(--corBaixa);
}

#totalMedia{
    background-color: var(--corMedia);
}

#totalAlta{
    background-color: var(--corAlta);
}

#divListaTarefas{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid var(--cor01);
    padding: 10px;
    margin: 20px 0px;
    min-height: 800px;
}

.titoMovimentacao{
    font-size: 2.5em;
    color: var(--cor01);
    text-align: center;
}

.tarefa{
    width: 100%;
    min-height: 200px;
    background-color: var(--cor02);
    margin: 20px 0px;
    padding: 20px;
    border-radius: 5px 0px 20px 30px;
}

.titulo, .tituloResponsavel, .descTarefa, .tipoPrioridade{
    text-align: left;
    padding: 10px 0px;
}

.baixa{
    border-left: 10px solid var(--corBaixa);
}

.media{
    border-left: 10px solid var(--corMedia);
}

.alta{
    border-left: 10px solid var(--corAlta);
}

.infoAlta{
    color: var(--corAlta);
    text-transform: uppercase;
}

.infoMedia{
    color: var(--corMedia);
    text-transform: uppercase;
}

.infoBaixa{
    color: var(--corBaixa);
    text-transform: uppercase;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnMovimentacao{
    border: none;
    background-color: var(--cor02);
    color: var(--cor01);
    font-weight: bold;
    cursor: pointer;
    opacity: 2;
}

.btnMovimentacao:hover{
    color: var(--corAberto);

}